<% layout('/_layout.html') %>

<h1 aria-label="Scissors">SciSsoRs</h1>
<p>A demo page for the server. Check the <a href="https://www.github.com/billgathen/scissors">project</a> for more details.</p>

<h2>Static Content</h2>

<ul>
  <li><img src="/images/sergey-semin-Y0WXj3xqJz0-unsplash-200x200.jpg" height="200" width="200" alt="Cute Kitten"></li>
  <li><a href="/data/data.json">Get data</a></li>
  <li><a href="/hello.html">Say hello!</a></li>
  <li><a href="/broken.html">Click to break stuff</a></li>
  <li><a href="/not-found.html">Not Found</a></li>
  <li><a href="https://eta.js.org/docs/intro/syntax-cheatsheet">ETA syntax cheat-sheet</a></li>
</ul>

<h2>Dynamic Content</h2>

<h3>Append</h3>
<div>
  <append-content aria-live="polite" data-src="/response.html">
    <button>Click to load more content</button>
  </append-content>
</div>

<h3>Select</h3>
<div>
  <label class="row">
    <h4>Foods</h4>
    <select-content data-src="/food-category.html" data-target="#foods">
      <select name="food-category">
        <option></option>
        <% Object.keys(it.foods).forEach((name) => { %>
          <option><%= name %></option>
        <% }) %>
      </select>
    </select-content>
  </label>
</div>
<div aria-live="polite" id="foods" class="stack"></div>

<h3>Replace</h3>
<div class="row">
  <h4>Super Folks</h4>
  <ul class="row">
    <% Object.keys(it.people).forEach((name) => { %>
    <li>
      <replace-content data-src="/person.html?name=<%= name %>" data-target="#person">
        <button><%= name %></button>
      </replace-content>
    </li>
    <% }) %>
  </ul>
  <!-- aria-live makes screen readers announce changed content (on an element-by-element basis) -->
  <!-- TODO labels aren't announced on subsequent selections, since they don't change: resolve that -->
</div>
<div aria-live="polite" id="person"></div>