:root {
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em 0;
}

body {
  margin: 0;
  padding: 1em;
}

body > * + * {
  margin-block-start: 1rem;
}

/* web components are valid CSS selectors, just like normal ones */
append-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

#foods:empty {
  margin: 0; /* remove extra space when no content selected */
}

#person:not(:empty) {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
}

.details {
  display: grid;
  grid-template-columns: 6em auto;
  gap: 0.5em 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5em;
}